html{
    color:white;
    font-weight:bold;
    background-image: url(http://image.17sucai.com/upload/32215/2013-11-22/4175c925a9b45e4f51993ec11156f0bb.jpg);
}
h2{
    color:pink;
    text-align: center
}
.first{
    text-align:center;
}
.second{
    text-align:right;
}
.third{
    color:white;
    background-color:grey;
    border-style: dashed;
    border-color:pink;
}
.third:hover{
    color:yellow;
}
.third:active{
    color:blue;
}