html{
    color:white;
    font-weight:bold;
    background-image: url(https://lh3.googleusercontent.com/U-av1a2JTdB02XHnT_nr7jiSkuyftNNIjNuD2_j1WfK0cI9YAF-8A2BCnBnqDTnBFMEReaeKMszdlkdkJUmxpiw=s0);
    background-repeat:no-repeat;
    background-size:cover;
}
h2{
    color:pink;
    text-align: center
}
.first{
    text-align:center;
}
.second{
    text-align:right;
}
.third{
    color:white;
    background-color:grey;
    border-style: dashed;
    border-color:pink;
}
.third:hover{
    color:yellow;
}
.third:active{
    color:blue;
}